

.nav {
   
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;


    &__search-container {
       width: 100vw;
       display: flex;
       flex-direction: column;
       align-items: center;

        &-destination {
            display: flex;
            flex-direction: column;
           
            width: 50vw;
        }
        &-dates {
            display: flex;
            flex-direction:row;
            justify-content: center;
            align-items: start;
            width: 50vw;
            
            &-form {
                display: flex;
               
                margin-right: 1rem;
              
            }
            &-btn {
              align-self: center;
              margin-bottom: 1rem;
            }
        }


    }

/*
    &__search-form, &__dates-form {
        display: flex;
        justify-content: center;
        margin: 5rem;
      
        

        &-input {
            width: 50vw;
            justify-self: center;
        }
    }
*/
  

    &__logo {
        width: 1rem;
        height: 1rem;
    }


    &__list {
        margin-right: 2rem;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-right {
            display: flex;
            flex-direction: row;
        }
        &-left {
            display: flex;
            flex-direction: row;
            

            &-item {
                color: white !important;
                margin-right: 1rem;
       
               
            }
        }
    }

}