<section class="nav">
  <mat-list class="nav__list">
    <div class="nav__logo"></div>
    <div class="nav__list-left">
      <a mat-button routerLink="/about" class="nav__list-left-item">About</a>
      <a mat-button routerLink="/my-trips" class="nav__list-left-item"
        >My Trips</a
      >
      <div>
        <p>Welcome, {{ currentUser()?.email}}</p>
        <app-snackbar></app-snackbar>
       
      </div>
    
      
      <a mat-button routerLink="/contacts" class="nav__list-left-item"
        >Contacts</a
      >
    </div>
    <div class="nav__list-right">
      <a
        mat-raised-button
        routerLink="log-in"
        routerLinkActive="active"
        class="nav__list"
        >Log In</a
      >
      <a
        mat-raised-button
        routerLink="sign-up"
        routerLinkActive="active"
        class="nav__list"
        >Sign Up</a
      >
    </div>
  </mat-list>
  <div class="nav__search-container">
    <form class="nav__search-container-destination">
      <mat-form-field>
        <input
          matInput
          placeholder="Type your next city to visit"
          value="Bari"
        />
      </mat-form-field>
    </form>
    <form class="nav__search-container-dates">
      <mat-form-field class="nav__search-container-dates-form">
        <input
          matInput
          [matDatepicker]="pickerStart"
          placeholder="Start Date"
          value="Bari"
        />

        <mat-datepicker-toggle
          matIconSuffix
          [for]="pickerStart"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="nav__search-container-dates-form">
        <input
          matInput
          [matDatepicker]="pickerEnd"
          placeholder="End Date"
          value="Bari"
        />

        <mat-datepicker-toggle
          matIconSuffix
          [for]="pickerEnd"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
      <button mat-flat-button class="nav__search-container-dates-btn">Go!</button>
    </form>
  </div>
</section>
