<section class="nav">
  <mat-list class="nav__list">
    <div class="nav__logo">
      <img src="delivery-logo.png" alt="logo" />
    </div>
    <div class="nav__list-left">
      <a mat-button href="/about" class="nav__list-left-item">About</a>
      <a mat-button href="/my-trips" class="nav__list-left-item">My Trips</a>
      <a mat-button href="/contacts" class="nav__list-left-item">Contacts</a>
    </div>
    <div class="nav__list-right">
      <a mat-raised-button href="log-in" class="nav__list">Log In</a>
      <a mat-raised-button href="/sign-up" class="nav__list">Sign Up</a>
    </div>
  </mat-list>

  <form class="nav__search">
    <mat-form-field class="nav__search-input">
      <input matInput placeholder="Type your next city to visit" value="Bari" />
    </mat-form-field>
  </form>
  <div class="nav__dates">

  </div>
</section>
