.workflow__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
    &-heading {
        
    }

    &-icons {   
        background-color: aqua !important   ;
    
        &-item {
        
        }
    }
}