<footer  class="footer__container">
 <section class="footer__container-services">
    <h3 class="footer__container-services-header">Services</h3>
    <p class="footer__container-services-p">
        Create your trip plan
    </p>
    <p class="footer__container-services-p">
        Check your flights
    </p>
    <p class="footer__container-services-p">
        Check your stay
    </p>
 </section>
 <section class="footer__container-company">
    <h3 class="footer__container-company-p">
        Contacts
    </h3>
    <div class="footer__container-company-socials">
        <div class="footer__container-socials-first">
            <p class="footer__container-company-socials-first-p">
                <a target="_blank" href="https://instagram.com" class="footer__container-company-socials-first-p-btn"><mat-icon class="custom-icon" svgIcon="insta_icon" /></a>
            </p>
            <p class="footer__container-company-p">
                <a target="_blank" href="https://linkedin.com" class="footer__container-company-socials-first-p-btn"><mat-icon class="custom-icon" svgIcon="linkedin_icon" /></a>
            </p>
        </div>
        <div class="footer__container-socials-second">
        <p class="footer__container-company-p">
            <a target="_blank" href="https://facebook.com" class="footer__container-company-socials-first-p-btn"><mat-icon class="custom-icon" svgIcon="facebook_icon" /></a>
        </p>
        <p class="footer__container-company-p">
            <a target="_blank" href="https://tiktok.com" class="footer__container-company-socials-first-p-btn"><mat-icon class="custom-icon" svgIcon="tiktok_icon" /></a>
        </p>
    </div>
    </div>
    
 </section>
 <section class="footer__container-legal">
    <h3 class="footer__container-legal-header">Legal</h3>
    <p class="footer__container-legal-p">
        Cookie policy
    </p>
    <p class="footer__container-legal-p">
        Term of use
    </p>
    <p class="footer__container-legal-p">
        Privacy policy
    </p>
 </section>

</footer>
