.popular_places {
    font-size: large;
    display: flex;
    justify-content: center;
 
    &-heading {
        color: white;
        font-weight: 500;
    }
}

.carousel {


  &__container {
    width: 70vw;
    height: 70vh;
    position: relative;
   

    &-img {
        width: 50%;
        display: block;
        object-fit: cover;
        transform: translate(50%, -10%);
        
    }
  }
}
